{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>

{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
 {% endif %}

	<div class="content-section">

		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>

			<script type="text/javascript">

				document.getElementById("contentfieldid").disabled = true;

				document.getElementById('requestcheckbox').onchange = function() {
					document.getElementById('contentfieldid').value='';
    document.getElementById('contentfieldid').disabled = !this.checked;
};
   				</script>


			    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LcMZ4MUAAAAACNEO4NVXs1YLwD4PBPAH4WARHcR"></div>
    <br>

			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">SUBMIT</button>
			</div>

		</form>



		</div>

{% endblock content %}